html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.nav-link,
h1,
h2 {
  font-family: "Poppins", sans-serif;
}
/* NAVIGATION */
nav.navbar {
  z-index: 999;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 70px;
}
.navbar-brand {
  font-size: 20px;
  text-transform: uppercase;
  flex: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.4s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: rgb(230, 189, 186);
  text-decoration: underline;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgb(230, 189, 186);
  text-decoration: underline;
}
/* HOME */
.video_container {
  position: relative;
  width: 100%;
  height: 90vh;
}
.background_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 101%;
  object-fit: cover;
}
.home_logo_img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 400px;
  height: 400px;
}
.home_welcome {
  text-align: center;
  width: 100%;
}
.home_description {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
  display: flex;
  flex-direction: column;
}
.home_description_text {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.button {
  text-decoration: none;
  padding: 15px 40px;
  background-color: rgb(230, 189, 186);
  color: #fff;
  border-radius: 40px;
  font-size: 30px;
  border: 5px solid rgb(230, 189, 186);
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.home_button {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:hover {
  color: rgb(230, 189, 186);
  background-color: #fff;
}
/* REVIEWS */
.section_reviews {
  overflow: hidden;
}
.section_title {
  color: rgb(230, 189, 186);
  text-align: center;
  padding-top: 20px;
  margin-top: 40px;
  font-size: 44px;
}
.section_subtitle {
  color: rgb(230, 189, 186);
  text-align: center;
}
div.col {
  height: 100%;
}
.card_footer_img {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.card-text {
  min-height: 350px;
}
.card_footer_name {
  color: #fff;
  margin-left: 5px;
}
.card-footer {
  display: flex;
  align-items: center;
}
/* SLOGAN */
.slogan_section {
  margin-top: 50px;
  background-color: #000;
  color: #fff;
  position: relative;
  text-align: center;
}
.slogan_section .button {
  font-size: 26px;
  padding: 10px 20px;
  margin: 30px;
}
.first_line_text {
  padding-top: 20px;
}
.color_slogn_text {
  font-size: 90px;
  color: rgb(230, 189, 186);
  margin-bottom: 50px;
  text-align: center;
}
.slogan_rating {
  margin-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
/* WHATSAPP */
.whats_app_bubble {
  position: fixed;
  bottom: 60px;
  right: 60px;
  border: 5px solid black;
  border-radius: 50%;
}
.card {
  background-color: rgb(230, 189, 186);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.card-img-top {
  color: #fff;
  margin-left: 15px;
  margin-top: 10px;
}
.card-text {
  color: #fff;
}
/* FOOTER */

.container_column {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.footer_logo {
  width: 250px;
  height: 200px;
}
.footer_links {
  display: flex;
  flex-direction: column;
}
a.footer_link {
  text-decoration: none;
  color: #000;
  text-decoration: underline;
}
.footer_company_id {
  position: absolute;
  bottom: 15px;
}
.footer_signature {
  background-color: #000;
  width: 100%;
  color: #fff;
  text-align: center;
}
.footer_signature a {
  color: rgb(230, 189, 186);
}
/* CONTACT */
.section_contact {
  background-color: #000;
}
.section_contact .section_title {
  text-align: start;
}
.contact_container {
  padding-top: 150px;
  display: flex;
  padding-bottom: 200px;
}
.section_contact .footer_link {
  color: rgb(230, 189, 186);
  padding: 5px;
  margin: 5px;
}
.contact_links {
  flex: 1;
}
.contact_img {
  flex: 1;
}
.contact_img img {
  width: 500px;
  height: 500px;
}
/* ABOUT US */
.aboutUs_secion .color_slogn_text {
  padding: 70px;
}
.oboutUs_text {
  font-size: 24px;
}
/* TUTORS */

.section_tutors {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 60px;
  padding-bottom: 30px;
}
.section_tutors .card-img-top {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border: 1px solid #fff;
}
.column_tutor_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column_tutor_card_description {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.card_tutor {
  background-color: #000;
  box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.08);
}
.color_pink {
  color: rgb(230, 189, 186);
}
.btn_tutor_card {
  padding: 5px;
  width: 250px;
  margin: 15px 0;
  text-align: center;
}
.tutor_subtitle,
.tutor_title {
  padding-bottom: 15px;
}
.tutor_skills li {
  padding: 5px 0;
}
/* HOW IT WORKS */
.section_howitworks {
  padding-top: 90px;
}
.step {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
}
.steps_container {
  position: relative;
}
.big_number {
  /* position: absolute;
  top: 0%;
  left: 0; */

  opacity: 0.8;
  font-size: 300px;
  line-height: 300px;
  color: rgb(230, 189, 186);
}
.verified_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(20deg) translate(-50%, -20%);
  width: 500px;
  height: 500px;
  z-index: -1;
}
.step_text {
  font-size: 60px;
}
.why_to_use_links {
  padding: 80px;
  position: relative;
}
.secure_links_text {
  font-size: 28px;
  padding: 20px 0;
}
.font_bold {
  font-weight: 700;
  font-size: 28px;
}

.tutors_filter_box {
  position: fixed;
  top: 20%;
  left: 10px;
  width: auto;
  /* height: 300px; */
}
.subject_filters,
.filter_by {
  color: #000;
}
.subject_filters {
  display: flex;
  flex-direction: column;
}
.filters_btn {
  width: 100%;
  font-size: 22px;
}
.expand_filters_btn {
  background-color: rgb(230, 189, 186);
  color: #fff;
  min-width: 50px;
  width: auto;
  padding: 5px 20px;
}
.expand_filters_btn:hover {
  color: #000;
  background-color: #fff;
}
/* BECOME TUTOR */
.advantages_section {
  padding-top: 70px;
}
.advantages_section .col {
  padding: 25px 0;
}
.join_as_tutor_section {
  padding-top: 100px;
  /* min-height: 75vh; */
  color: rgb(230, 189, 186);
}

.advantages_section .color_slogn_text,
.join_as_tutor_section .color_slogn_text {
  color: #000;
  text-align: center;
}

.join_as_tutor_section .button {
  width: 350px;
  text-align: center;
}

.card_transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.card_header svg {
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
}
.card_description {
  background-color: #000;
  border-radius: 40px;
  min-height: 150px;
  color: #fff;
}
.description_title {
  font-weight: 500;
  padding: 10px 0;
}
.description_text {
  padding: 20px;
}
/* USER AGREEMENT */
.end_user_agreement_section {
  padding-top: 30px;
  font-weight: 500;
  line-height: 40px;
}
/* MEDIA */
@media (max-width: 800px) {
  .home_logo_img {
    width: 300px;
    height: 300px;
  }
  .home_button {
    text-align: center;
    font-size: 24px;
  }
  .container_column {
    flex: none;
    width: 100%;
  }
  .contact_img img {
    width: 350px;
    height: 250px;
  }
  .verified_img {
    width: 250px;
    height: 250px;
  }
  .oboutUs_text {
    font-size: 20px;
  }
  .navbar-collapse.collapse.show {
    width: 100vw;
    height: 100%;
    background-color: #fff;
  }
}

@media (max-width: 500px) {
  .home_logo_img {
    width: 200px;
    height: 200px;
  }
  .home_welcome {
    font-size: 40px;
  }
  .home_button {
    font-size: 20px;
    transform: translate(-50%, 0);
    bottom: 10px;
    width: 80%;
  }
  .home_description_text {
    font-size: 18px;
  }

  .step {
    height: 180px;
  }
  .big_number {
    font-size: 80px;
    line-height: 80px;
  }
  .step_text {
    font-size: 30px;
  }
  .font_bold {
    font-size: 22px;
  }
  .secure_links_text {
    font-size: 20px;
  }
}
